## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [6]:
import numpy as np
import pandas as pd
recipes=pd.read_csv('data/recipes_sample.csv', encoding='ISO-8859-1', parse_dates= ['submitted'])
reviews=pd.read_csv('data/reviews_sample.csv', delimiter=',', encoding='ISO-8859-1')
print(type(reviews), type(recipes))
reviews

<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.frame.DataFrame'>

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [7]:
print("Таблица 'Recipes':\nКоличество точек данных: %s\nКоличество столбцов: %s\nТип данных каждого столбца:\n %s\n")
print()    
print("Таблица 'Reviews':\nКоличество точек данных: %s\nКоличество столбцов: %s\nТип данных каждого столбца:\n %s\n")

Таблица 'Recipes':
Количество точек данных: %s
Количество столбцов: %s
Тип данных каждого столбца:
 %s


Таблица 'Reviews':
Количество точек данных: %s
Количество столбцов: %s
Тип данных каждого столбца:
 %s

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [10]:
def NanCounter (table) :
    t1=pd.DataFrame (table)
    t1= t1.isna().sum (axis=1)
    t1_num_rows = len (t1[t1 != 0].index)
    print ("Кол-во пропусков в таблице по столбцам:\n%s" % (table.isna().sum()))
    print ("%3.5f%% доля строк в таблице содержащих пропуски" % (t1_num_rows/t1.shape[0]*100))
           
print ("Для DataFrame 'Recipes':")
NanCounter(recipes)
print ()
print("Для DataFrame 'Reviews':")
NanCounter(reviews)

Для DataFrame 'Recipes':
Кол-во пропусков в таблице по столбцам:
name                  0
id                    0
minutes               0
contributor_id        0
submitted             0
n_steps           11190
description         623
n_ingredients      8880
dtype: int64
56.84667% доля строк в таблице содержащих пропуски

Для DataFrame 'Reviews':
Кол-во пропусков в таблице по столбцам:
Unnamed: 0     0
user_id        0
recipe_id      0
date           0
rating         0
review        17
dtype: int64
0.01342% доля строк в таблице содержащих пропуски

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [11]:
averRating = reviews ["rating"].mean ()
averMinutes = recipes ["minutes"].mean ()
averSteps = recipes ["n_steps"].mean ()
averIngridients = recipes ["n_ingredients"].mean ()
print ("Средний рейтинг рецепта с точностью до лесячитысячных: %2.4f" % averRating)
print ("Среднее время приготовления рецепга с почлостью до десятитысячних: %2.4f" % averMinutes) 
print ("Среднее кол-во шагов в рецепте с точнослью до десятитысячных: %2.4f" % averSteps)
print ("Среднеє кол-во ингридиентов в рецепте з тонностью до десятитысячных: %2.4f" % averIngridients)

Средний рейтинг рецепта с точностью до лесячитысячных: 4.4108
Среднее время приготовления рецепга с почлостью до десятитысячних: 123.3581
Среднее кол-во шагов в рецепте с точнослью до десятитысячных: 9.8056
Среднеє кол-во ингридиентов в рецепте з тонностью до десятитысячных: 9.0083

1.5 Создайте серию из 10 случайных названий рецептов.

In [12]:
def GetRandomSeries (table, n, column) :
    randSample = table.sample(n=n)
    return randSample [column]
print (GetRandomSeries (recipes, 10, "name"))
print (GetRandomSeries (recipes, 20, "description") )
print (GetRandomSeries (reviews, 6, "review"))

20525                                    pepperoni souffle
1236                              asian peanut vinaigrette
14649                             italian escape casserole
19574                                     oven chuck roast
10207    easy scalloped potatoes with  ham and havarti ...
20290                 peanut butter caramel chocolate bars
18695               no bake creamy peanut butter fudge pie
23316                                san felipe fish tacos
399                       airy chocolate coconut cream pie
17545                                    mexican tea cakes
Name: name, dtype: object
26804    i haven't tried this yet but it looked interes...
10083    recipe modified from by cathyshambley.blogspot...
18543    napa was on sale this week so i ended up with ...
1816     we had about a bunch of king crab left over an...
11130    a cuban twist on a summer favorite.  (cooking ...
2459     such a beautiful tart - just like from a europ...
26661    these sound really good! from kraft food & fam...
5202     feel like some finger food? you can half the s...
13366                                                  NaN
10046    this is so easy, so healthy and so delicious! ...
21729    another version of pumpkin pie but this one su...
20956                                         kid pleaser!
27845    delicious mahi mahi topped with a slightly spi...
8563          spiced apples cook themselves to perfection!
22578    someone (bless them) sent me some hershey's ki...
3703                                                   NaN
27110    serve this sliced thin on french bread rolls a...
1883     this is the chewiest granola i've ever eaten. ...
7356     if you love coffee, bananas, chocolate and jel...
13942    this is out of my old magazine cookbook dated ...
Name: description, dtype: object
88885    Not bad bread but nothing like MG. First the r...
32920    We just made these and the flavor is spot on w...
40302    Both times I made this I used one big onion, m...
12707    Well after reading all the reviews I had to tr...
74889    Holy Smokes! This bread is delicious!! I just ...
53251    This was better than I expected.  :)  I had so...
Name: review, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [24]:
reviews["Unnamed: 0"] = [i for i in range (len(reviews))]
reviews=reviews.rename(columns={'Unnamed: 0': "id"})
reviews

,id,user_id,recipe_id,date,rating,review
0,0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,126691,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,126692,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,126693,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,126694,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,126695,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [25]:
simpleRecipes=recipes[(recipes['minutes']<=20) & (recipes['n_ingredients']<=5)]
simpleRecipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [26]:
recipes=recipes.astype({'submitted' : 'datetime64'})
recipes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            30000 non-null  object
 1   id              30000 non-null  int64
 2   minutes         30000 non-null  int64
 3   contributor_id  30000 non-null  int64
 4   submitted       30000 non-null  datetime64[ns]
 5   n_steps         18810 non-null  float64
 6   description     29377 non-null  object
 7   n_ingredients   21120 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 1.8+ MB

C:\Users\zhidk\AppData\Local\Temp\ipykernel_6824\4070573265.py:1: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  recipes=recipes.astype({'submitted' : 'datetime64'})

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [30]:
before_2010 = [recipes['submitted']<=pd.to_datetime('2010-12-31')]
print (before_2010)

[0         True
1         True
2         True
3         True
4         True
         ...
29995     True
29996     True
29997     True
29998    False
29999     True
Name: submitted, Length: 30000, dtype: bool]

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [35]:
recipes=recipes.astype({'description' : 'string'})
recipes['description_length'] = recipes['description'].str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [37]:
recipes['name'] = recipes['name'].str.title()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [40]:
recipes['name_word_count'] = recipes['name'].str.split().str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311,5
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648,2
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [41]:
df1=recipes[['contributor_id','id', 'description']]
grouped = df1.groupby("contributor_id").count()
a = grouped.sort_values(by = 'id', ascending=False)['id']
print("Выборка участников по убыванию кол-ва рецептов:")
print(a)
print(f"Участник по айди %s добавил максимальное кол-во рецептов!" %a.index[0])

Выборка участников по убыванию кол-ва рецептов:
contributor_id
89831         421
37449         346
37779         345
1533          186
169430        183
             ...
245835          1
245653          1
245590          1
245378          1
2002247884      1
Name: id, Length: 8404, dtype: int64
Участник по айди 89831 добавил максимальное кол-во рецептов!

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [56]:
print(reviews.groupby('recipe_id')['rating'].mean())
print('Кол-во рецептов, у которых отсутствуют отзывы:', len(recipes[~recipes{'id'}.isin(reviews['recipe_id'])]))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1027734773.py, line 2)

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [57]:
rating_by_year = recipes.groupby(pd.Grouper(key='submitted', freq='y')).count()['id']
rating_by_year.index = rating_by_year.index.year
display(rating_by_year)

submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: id, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [65]:
dd = pd.merge(recipes, reviews, on = None, left_on = 'id', right_on = 'recipe_id', how = 'inner')
dd = dd.drop(['minutes','contributor_id','submitted','n_steps','description','n_ingredients','description_length',
              'name_word_count','date','review','indexes','recipe_id'], axis=1)
dd =dd [['id','name','user_id','rating']]
display(dd[dd['id'] == 2691])
display(dd)

KeyError: "['indexes'] not found in axis"

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [71]:
Datal = recipes[['id', "name" ]]
Data2 = reviews.groupby('recipe_id')[['user_id']].count()
Data2.columns = ['review_count']
DataFrame2 = pd.merge(Datal, Data2, left_on ='id', right_on = 'recipe_id', how = 'left')
                                     
print("Список рецептов не имеющих отвывов:")
print (DataFrame2[DataFrame2.review_count.isna()])
                                     
DataFrame2['review_count'] = (DataFrame2['review_count'].fillna(0.0)).astype('int64')
                                     
print("\nПолученный DataFrame: ")
print (DataFrame2)
                                     
print('\nПроверка. \nРецепт с id 276594 не имеет отзывов.')
print(DataFrame2[DataFrame2.id == 276594])

Список рецептов не имеющих отвывов:
           id                                     name  review_count
26     223349            Pasta  With Shrimp   Eggplant           NaN
29     342620          Secret Ingredient  Bbq Meatloaf           NaN
35     276594        Windy S  Sweet And Sour Meatballs           NaN
49     216068  Goulashy  Beef Stew For The Slow Cooker           NaN
59     306590             Old Bay  Grilled Steak Fries           NaN
...       ...                                      ...           ...
29871   66966                       Zingy Potato Salad           NaN
29903  249846       Zucchini  Mock Green Papaya  Salad           NaN
29905  256177            Zucchini And Corn With Cheese           NaN
29951  178243                       Zucchini Nut Salad           NaN
29979  363362     Zucchini With Bell Pepper And Tomato           NaN

[1900 rows x 3 columns]

Полученный DataFrame:
           id                                          name  review_count
0       44123         George S At The Cove  Black Bean Soup             3
1       67664            Healthy For Them  Yogurt Popsicles             8
2       38798                  I Can T Believe It S Spinach             3
3       35173                          Italian  Gut Busters             1
4       84797      Love Is In The Air  Beef Fondue   Sauces             8
...       ...                                           ...           ...
29995  267661  Zurie S Holey Rustic Olive And Cheddar Bread             4
29996  386977          Zwetschgenkuchen  Bavarian Plum Cake             2
29997  103312   Zwiebelkuchen   Southwest German Onion Cake             6
29998  486161                                   Zydeco Soup             6
29999  298512        Cookies By Design   Cookies On A Stick             1

[30000 rows x 3 columns]

Проверка.
Рецепт с id 276594 не имеет отзывов.
        id                               name  review_count
35  276594  Windy S  Sweet And Sour Meatballs             0

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [75]:
df1= reviews[['recipe_id','rating']]
df2= recipes[['id','submitted']]
df3= pd.merge(df1, df2, left_on="recipe_id", right_on="id")
df3.drop(['id', 'recipe_id', ], axis=1, inplace=True)
gb = df3.groupby(df3['submitted'].dt.year).mean()
lowest_mean_rate=gb.sort_values(by ='rating', ascending=True)
print(f'Из выборки следует, что наименьший средний рейтинг имеют рецепты добавленные в {lowest_mean_rate.rating.index[0].dt.year}')
print('Ниже приведен DataFrame, отсортированный по возрастанию рейтинга ')
lowest_mean_rate

C:\Users\zhidk\AppData\Local\Temp\ipykernel_6824\2425241808.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gb = df3.groupby(df3['submitted'].dt.year).mean()

AttributeError: 'numpy.int64' object has no attribute 'dt'

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [76]:
recipes = recipes.sort_values(by=['name_word_count'], ascending=False)
recipes.to_csv('recipes_result.csv', sep=',')

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [ ]:
with pd.ExcelWriter('new_dataset.xlsx', mode='a+') as writer
    recipe_rating.to_excel(writer, sheet_name='Рецепты с оценками', index=False)
    reviews_count_df.to_excel(writer, sheet_name='Количество отзывов по рецептам', index=False)
    writer.save()